# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment and Secrets
.env
AI_SECRET_KEY

# Data and Models
history_m15.csv
history_m5.csv
models/

# MacOS
.DS_Store

# MT5 logs and temporary files
*.log
